.content-region{
    position: relative;
}
.sanjiaoxing {
    position: absolute;
    /* 应该为border宽度的2倍  */
    top: -30px;
    left: 40px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border: 15px solid transparent;
    border-bottom-color: rgb(240, 242, 245);
}