<!DOCTYPE html>
<html>
	<head>
		<title>detail</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
		<link href="https://sf1-ttcdn-tos.pstatp.com/obj/larkcloud-file-storage/baas/qc8o4l/dd008987164a4dc9_1612858836000.css" rel="stylesheet">
		
		<link href="https://sf1-ttcdn-tos.pstatp.com/obj/larkcloud-file-storage/baas/qc8o4l/6b1ca27ffbbabe44_1612756115168.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://sf1-ttcdn-tos.pstatp.com/obj/larkcloud-file-storage/baas/qc8o4l/03e11002dbb46082_1612756125562.js"></script>
	</head>
	<body>
		<div id="root">
			<div class="detail-container">
				<div class="toutiao-header">
					<div class="topbar">
						<div class="left-nav">
							<ul class="nav-list">
								
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=1" target="_blank"rel="noopener noreferrer">科技</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=2" target="_blank"rel="noopener noreferrer">娱乐</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=3" target="_blank"rel="noopener noreferrer">游戏</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=4" target="_blank"rel="noopener noreferrer">体育</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=5" target="_blank"rel="noopener noreferrer">汽车</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=6" target="_blank"rel="noopener noreferrer">财经</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=7" target="_blank"rel="noopener noreferrer">数码</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=9" target="_blank"rel="noopener noreferrer">军事</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=10" target="_blank"rel="noopener noreferrer">国际</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=11" target="_blank"rel="noopener noreferrer">时尚</a></li>
								<li class="nav-item"><a class="nav-link" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=12" target="_blank"rel="noopener noreferrer">旅游</a></li>
								<li class="nav-item nav-more"><a class="nav-link" href="#">更多<i class="bui-icon icon-arrow_down"></i></a>
									<div class="nav-layer">
										<ul class="nav-more-list">
											<li class="nav-more-item"><a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=13" target="_blank" rel="noopener noreferrer">探索</a></li>
											<li class="nav-more-item"><a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=14" target="_blank" rel="noopener noreferrer">育儿</a></li>
											<li class="nav-more-item"><a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=15" target="_blank" rel="noopener noreferrer">养生</a></li>
											<li class="nav-more-item"><a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=16" target="_blank" rel="noopener noreferrer">美文</a></li>
											<li class="nav-more-item"><a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=17" target="_blank" rel="noopener noreferrer">游戏</a></li>
											<li class="nav-more-item"><a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=18" target="_blank" rel="noopener noreferrer">历史</a></li>
											<li class="nav-more-item"><a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?param=19" target="_blank" rel="noopener noreferrer">美食</a></li>
										</ul>
									</div>
								</li>
								
							</ul>
						</div>
						<div class="right-nav">
							<ul class="user-nav-list">
								<li class="tb-item new-article"><a class="tb-link" href="https://sf1-ttcdn-tos.pstatp.com/obj/larkcloud-file-storage/baas/qc8o4l/ee5cc490c233de72_1612866289895.html#/admin/luru/input"
									 target="_blank" rel="noopener noreferrer">发文</a></li>
								<li class="tb-item userbox">
									<div class="username">
										<a class="user-head" href="" target="_blank" rel="noopener noreferrer">
											<script type="text/html"id="user-head-tpl">
												<div class="user-image">
												<img src={{useravatar}}>
												</div>
												<span title="">{{username}}</span>
											</script>	
										</a>
										
									</div>
								</li>
								<span class="logout-box"><a class="logout" href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni">退出</a></span>
							</ul>
						</div>
					</div>
					<div class="middlebar">
						<div class="middlebar-inner" style="width:1200px">
							<div class="middlebar-left">
								<div class="chinese-tag">
															
									<span class="logo">头条MINI</span>
									<a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni" target="_blank" rel="noopener noreferrer">首页</a>
									&nbsp;/&nbsp; <span class="text">正文</span>
								
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="detail-content-wrapper">
					<div class="detail-article-container">
						<div class="article-content">
							<h1><script type="text/html"id="title-tpl">{{title_name}}</script></h1>
							<div class="article-meta">
								<script type="text/html"id="article-meta-tpl">
								<span>{{author.nickname}}</span>
								<span>{{time}}</span>
								</script>
							</div>
							<article class="syl-page-article syl-device-pc tt-article-content font_m">
								<script type="text/html"id="article-content-tpl">
								{{@content}}
								</script>
							</article>
							<div class="content-action">
								<div class="action-list">
									<script type="text/html"id="action-list-tpl">
										<div class="action-item report"><i class="iconfont icon-dianzan"></i><span>{{good}}</span></div>&nbsp;&nbsp;
										<div class="action-item favorite"><i class="iconfont icon-cai"></i><span>{{bad}}</span></div>
									</script>
								</div>
							</div>
							
						</div>
						
						<div class="media-info-wrapper">
							<div class="media-info">
								<div class="user-info">
										<span class="user-avatar" >
											<script type="text/html" id="user-avatar-tpl">
												<img src={{author.avatar}}>
											</script>
										</span>
										<div class="user-name">
											
											<span class="name" ><script type="text/html" id="user-name-tpl">{{author.nickname}}</script></span>
											<div class="user-subscribe-wrapper">
												<script type="text/html" id="user-subscribe-wrapper-tpl">
												<span>{{con}}</span>
												</script>
											</div>
											
										</div>
										<div class="fans-num-box">
											
											<span class="fans">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;粉丝数</span>
											<div class="fans-container">
												<script type="text/html" id="fans-container-tpl"> 
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fans-num">{{fansNum}}</span>
												</script>
											</div>
											
										</div>
										
								</div>
								<ul class="related-list">
									<script type="text/html" id="related-list-tpl">
										{{each data}}
										<li class="related-list-item">
											<a href="https://qc8o4l.fn.thelarkcloud.com/toutiaominni?id={{$value._id}}"target="_blank" rel="noopener noreferrer">
												{{$value.title_name}}
											</a>
										</li>
										{{/each}}
									</script>
								</ul>
							
							</div>
							
						</div>
					</div>
				</div>
				<div class="toolbar">
					<div class="download shadow"><img src="https://sf3-dycdn-tos.pstatp.com/obj/eden-cn/pipieh7nupabozups/toutiao_web_pc/download.png"
						 alt="">
						<p>扫码下载今日头条</p>
					</div>
					
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var LocString = String(window.document.location.href);
		var zan;
		function GetQueryString(name) {
		var rs = new RegExp("(^|)" + name + "=([^&]*)(&|$)", "gi").exec(LocString), tmp;
		if (tmp = rs) {
			return decodeURI(tmp[2]);
			}
			return "";
		}//从url中获取参数的函数;
		var article_id=GetQueryString("id").substring(0,24);//获取从首页传过来的文章id
		const CancelToken = axios.CancelToken;
		let cancel;//axios请求取消的参数
		var user_key=JSON.parse(localStorage.getItem('user_key') || null);//从本地取用户数据
		//头部导航条中登录(用户)按钮的渲染处理
		var userhead=document.getElementsByClassName("user-head")[0];
		document.getElementsByClassName("logout")[0].onclick=function(){
			localStorage.removeItem('user_key');//"https://qc8o4l.fn.thelarkcloud.com/toutiaominni"
		}
		if(user_key==null){
			userhead.innerHTML=template("user-head-tpl",{useravatar:"https://sf1-ttcdn-tos.pstatp.com/obj/larkcloud-file-storage/baas/qc8o4l/660af12be02a42a5_1612839672326.png",username:"登录"});
			userhead.href="https://sf1-ttcdn-tos.pstatp.com/obj/larkcloud-file-storage/baas/qc8o4l/ee5cc490c233de72_1612866289895.html#/login/log";
			document.getElementsByClassName("logout-box")[0].style.display="none";
		}
		else{
			userhead.innerHTML=template("user-head-tpl",{useravatar:user_key.avatar,username:user_key.nickname});
			userhead.href="https://sf1-ttcdn-tos.pstatp.com/obj/larkcloud-file-storage/baas/qc8o4l/ee5cc490c233de72_1612866289895.html#";
			document.getElementsByClassName("logout-box")[0].style.display="inline-block";
		}
		
		axios.post('https://qc8o4l.fn.thelarkcloud.com/get_all_title',{id:article_id})
				.then(function(response) {
				r = response.data.test;
				r.time=r.createdAt.substring(0,10)+" "+""+(parseInt(r.createdAt.substring(11,13))+8)%24+":"+r.createdAt.substring(14,19);
				r.comment=(r.comment_num>10000)?""+parseInt((r.comment_num/10000)*10)/10+"万":""+r.comment_num;
				r.good=(r.good_num>10000)?""+parseInt((r.good_num/10000)*10)/10+"万":""+r.good_num;
				r.bad=(r.bad_num>10000)?""+parseInt((r.bad_num/10000)*10)/10+"万":""+r.bad_num;
				r.fansNum=(r.author.fans>10000)?""+parseInt((r.author.fans/10000)*10)/10+"万":""+r.author.fans;
				if(r.status==1){
							//文章详细信息和用户信息的渲染
							document.title=r.title_name;
							var c=document.getElementsByClassName("user-subscribe-wrapper");
							document.getElementsByTagName('h1')[0].innerHTML=template('title-tpl', r);
							document.getElementsByClassName('article-meta')[0].innerHTML=template('article-meta-tpl', r);
							document.getElementsByClassName('syl-page-article')[0].innerHTML=template('article-content-tpl', r);
							document.getElementsByClassName('action-list')[0].innerHTML=template('action-list-tpl', r);
							document.getElementsByClassName('user-avatar')[0].innerHTML=template('user-avatar-tpl', r);
							document.getElementsByClassName('name')[0].innerHTML=template('user-name-tpl', r);
							document.getElementsByClassName('fans-container')[0].innerHTML=template('fans-container-tpl', r);
							if(user_key==null)
							{
								c[0].style.color='';c[0].style.background="";
								c[0].innerHTML=template('user-subscribe-wrapper-tpl',{con:"关注"});
							}
							else{
								axios.post('https://qc8o4l.fn.thelarkcloud.com/is_concern',{username:user_key.nickname,authorname:r.author.nickname})
									.then(function(response) {
										console.log(response);
										if(response.data=="未关注")
										{
											c[0].style.color='';c[0].style.background="";
											c[0].innerHTML=template('user-subscribe-wrapper-tpl',{con:"关注"});
											
										}
										else if(response.data=="已关注")
										{	
											c[0].style.color='black';c[0].style.background="white";
											c[0].innerHTML=template('user-subscribe-wrapper-tpl',{con:"已关注"});
										}
									})
									.catch(function(error) {
										alert("no match");
										console.log(error);
									})
									.then(function() {
									});
							}
							
							//文章作者的其他文章渲染
							axios.post('https://qc8o4l.fn.thelarkcloud.com/get_all_title',{keywords:r.author.nickname})
								.then(function(response) {
									var r2 = response.data.result_2;
									var arr_c;
									if(r2==null){arr_c=[];}
									else{arr_c = r2}
									var j = 0;
									var arr=[];
									for (var i= arr_c.length - 1; i >=0 ; i--) {
										if(i<0)break;
										if(arr_c[i].title_name!=r.title_name){
											arr[j] = arr_c[i];
											j++;
										}										
									}
									var html = template('related-list-tpl', {
										data: arr
									});
									console.log(html);
									document.getElementsByClassName('related-list')[0].innerHTML = html;
									
								})
								.catch(function(error) {
									alert("no match");
									console.log(error);
								})
								.then(function() {
								});
					}
					else{
						alert('文章已下线')
					}
				})
				.catch(function(error) {
					alert("no match");
					console.log(error);
				})
				.then(function() {
					//点赞按钮
					var i;
					zan=document.getElementsByClassName("icon-dianzan");
					console.log(zan[0]);
					zan[0].onclick=function(){
					if(zan[0].style.color=='red'){i=-1}
					else {i=1}
					if(cancel!=null){return;}
					axios.post('https://qc8o4l.fn.thelarkcloud.com/update_article_goodandbad',{title_id:r._id,quality:"good",num:i,cancelToken: new CancelToken(function executor(c) {cancel = c;})})
						.then(function(response) {	
							var str=document.getElementsByClassName('action-item report')[0].lastChild.innerHTML;
							if(str.substr(str.length-1,1)!="万")
							 document.getElementsByClassName('action-item report')[0].lastChild.innerHTML=parseInt(document.getElementsByClassName('action-item report')[0].lastChild.innerHTML)+i;		
							 if(i==1) zan[0].style.color='red';
							 if(i==-1) zan[0].style.color='';
							 cancel=null;
						})
						.catch(function(error) {
							if(axios.isCancel(error)){console.log(error);}
							else{cancel=null;console.log(error);}
						});	
					}
					//点踩按钮
					var j;					
					var cai=document.getElementsByClassName("icon-cai");
					cai[0].onclick=function(){
							if(cai[0].style.color=='black'){j=-1}
							else {j=1}
							if(cancel!=null){return;}
							axios.post('https://qc8o4l.fn.thelarkcloud.com/update_article_goodandbad',{title_id:r._id,quality:"bad",num:j,cancelToken: new CancelToken(function executor(c) {cancel = c;})})
							.then(function(response) {	
							var str=document.getElementsByClassName('action-item favorite')[0].lastChild.innerHTML;
							if(str.substr(str.length-1,1)!="万")
							 document.getElementsByClassName('action-item favorite')[0].lastChild.innerHTML=parseInt(document.getElementsByClassName('action-item favorite')[0].lastChild.innerHTML)+j;		
								 if(j==1) cai[0].style.color='black';
								 if(j==-1) cai[0].style.color='';
								 cancel=null;
								})
							.catch(function(error) {
								if(axios.isCancel(error)){console.log(error);}
								else{cancel=null;console.log(error);}
								});	
						}
					//关注按钮
					var concern=document.getElementsByClassName("user-subscribe-wrapper");
					concern[0].onclick=function(){
						if(user_key==null){alert("请先登录")}
						else{
								if(concern[0].style.color=='black'){j=-1}
								else {j=1}
								if(cancel!=null){return;}
								axios.post('https://qc8o4l.fn.thelarkcloud.com/update_article_goodandbad',{title_id:r._id,quality:"fans",num:j,username:user_key.nickname,cancelToken: new CancelToken(function executor(c) {cancel = c;})})
								.then(function(response) {
									var str=document.getElementsByClassName('fans-num')[0].innerHTML;
									if(str.substr(str.length-1,1)!="万")
									 document.getElementsByClassName('fans-num')[0].innerHTML=parseInt(document.getElementsByClassName('fans-num')[0].innerHTML)+j;	
									 if(j==1) {concern[0].style.color='black';concern[0].style.background="white";document.getElementsByClassName('user-subscribe-wrapper')[0].innerHTML=template('user-subscribe-wrapper-tpl',{con:"已关注"});}
									 if(j==-1){concern[0].style.color='';concern[0].style.background="";document.getElementsByClassName('user-subscribe-wrapper')[0].innerHTML=template('user-subscribe-wrapper-tpl',{con:"关注"});};
									 cancel=null;
									})
								.catch(function(error) {
									if(axios.isCancel(error)){console.log(error);}
									else{cancel=null;console.log(error);}
									});	
							}
					}
				})
	</script>
</html>